{
	"NETCORE_API_ENDPOINT": "{{application_config.NETCORE_API_ENDPOINT.val}}",
	"NCS_ENDPOINT": "{{application_config.NCS_ENDPOINT.val}}",
	"DEMO_ENABLED" : "{{application_config.DEMO_ENABLED.val}}",
	"FLUENT_HOST": "{{backing_service_config.FLUENT_HOST.val}}",
	"FLUENT_PORT":  24224,
	"FLUENT_TAG": "{{backing_service_config.FLUENT_TAG.val}}",
	"CLIENT_IDENTIFIER": "{{application_config.CLIENT_IDENTIFIER.val}}",
	"CLIENT_SECRET": "{{application_config.CLIENT_SECRET.val}}",
	"ORIGIN_HOST" : "{{application_config.ORIGIN_HOST.val}}",
	"ENVIRONMENT": "{{application_config.ENVIRONMENT.val}}"
}